#signupBtn {
    padding: 10px;
}

a {
    color: #75BBA7;
  }
  
  a:hover {
    color: #7AE7C7;
  }

  #firstname, #lastname, #password, #username, #password, #repassword {
    width: 380px;
  }

  
  .loginPage {
    display: inline-flex;
  }

  #loginPic {
    float: left;
    margin-right: 50px;
  }

  #clear-both {
    clear: both;
  }

  @media (min-width: 1000px) {
    #loginPic {
      display: block;
    }
}

@media (max-width: 1000px) {
    #loginPic {
      display: none;
    }
}