p {
    padding: 15px;
}

.featuredScroll {
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 50%;
    margin: 20px auto 20px;
    padding: 20px;
    font-size: 46px;
}

.sectionTitle {
    width: 50%;
    display: flex;
    margin: auto;
    font-size: 26px;
}

.bestSellers, .newArrivals {
    background-color: #6C809A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 400px;
    margin: 20px auto 20px;
    font-size: 46px;
}