.loginBtn {
    padding: 10px;
}

.loginBtn:hover {
  background-color: black;
  color: white;
}

a {
    color: #75BBA7;
  }
  
  a:hover {
    color: #7AE7C7;
  }

  #uname, #pass {
    width: 380px;
  }

  #formField {
    width: 400px;
    float: left;
  }

  .signupPage {
    display: inline-flex;
  }

  #signupPic {
    float: left;
    margin-right: 100px;
  }

  #clear-both {
    clear: both;
  }

  @media (min-width: 800px) {
    #signupPic {
      display: block;
    }
}

@media (max-width: 800px) {
    #signupPic {
      display: none;
    }
}