
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #fdfbf6;
}

p {
  padding: 15px;
  color: black;
}

a {
  color: #75BBA7;
}

a:hover {
  color: #7AE7C7;
}
